/* CSS Reset */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom proprieties */

:root {
    --blue-background: #3161e0;
    --gray-button: #23272a;
    --bg-gray: #f6f6f6;
}

/* Utils */

.flex {
    display: flex;
    flex-flow: row;
}

.container {
    margin: auto;
    width: 1300px;
}

.waves {
    display:block;
    color: var(--bg-gray)
}

.waves.reversed {
    transform: rotate(180deg);
}

/* Page bar */

.page-bar{
    background-color: var(--blue-background);
    height: 70px;
    align-items: center;
}


.bar {
    align-items: center;
    
}

.logo , .login , .nav-bar {
    color: white;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    
}

.login {
    text-align: right;
}

.logo , .login{
    flex-basis: 20%;
    
}

.login > a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 25px;
}


.nav-bar {
    text-align: center;
    flex-basis: 60%;
}

.nav-bar > a {
    text-decoration: none;
    color: white;
    padding-left: 50px;
}




/* Jumbotron */

.front {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    flex-direction: column;
    align-items: center;
    color: white;
    width: 50%;
    height: 70%;
}

h1 {
    font-size: 55px;
}

.jumbotron > p {
    font-size: 25px;
    padding-top: 90px;
}

.buttons{
    margin-top: 60px;
    font-size: 28px;
}

.download {
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    margin-right: 40px;
    color: black;
    background-color: white;
}

.open-discord {
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    background-color: var(--gray-button);
}






/* sections */

.section-white , .section-gray {
    height: 900px;
    align-items: center;
}


.section-white {
    background-color: white;
}


.section-gray {
    background-color: var(--bg-gray)
}

.special-section {
    height: 1500px;
    background-color: var(--bg-gray);
}

.special-section > .container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.container > h2 , p {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Contents */

.content-blue {
    height: 600px;
    width: 40%;
}

.content-blue > img {
    padding-left: 100px;
}


/* Pink */

.content-pink {
    padding-top: 25px;
    height: 600px;
    width: 20%;
}

section h2 {
    font-size: 50px;
}


section p {
    padding-top: 20px;
    font-size: 30px;
}

/* Green */ 

.content-green {
    text-align: center;
    background-image: url(../img/item4-big.svg);
    background-size: cover;
    height: 700px;
    width: 100%;
}

section.flex {
    justify-content: center;
    align-items: center;
}


.download-alternative {
    margin-top: 90px;
    flex-direction: column;

}


.download-alternative > h3 {
    font-size: 30px;
    margin-bottom: 50px;
}

.download-alternative > a {
    margin: 0 auto;
    font-size: 30px;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    background-color: #8ea1e1;
}



/* footer */

footer {
    background-color: rgb(46, 46, 46);

}


.footer-start {
    justify-content: center;
}



.footer-pink {
    margin: 20px 0px;
    background-color: pink;
    height: 500px;
    width: 20%;
    
}

.footer-blue {
    margin: 20px 0px;
    background-color: aqua;
    height: 500px;
    width: 10%;
    border: 2px solid white;
}




.footer-end {
    justify-content: center;
    align-content: flex-end;
    
}


.endbar {
    margin-top: 20px;
    background-color: lightblue;
    width: 50%;
    height: 200px;
}